<!DOCTYPE html>
<html lang="pt_br">
    <head>
        <%- include('shared/head'); %>
    </head>
    <body>
        <%- include('shared/nav-bar', { user }); %>
        
        <main class="container">
            <div class="col s6 offset-s3 signup-form">
                <form method="post" action="/salvar-postagem">
                    <input type="hidden" name="id" value="<%= post?.id %>" />
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="title" type="text" name="title" value="<%= post?.title %>" class="validate" required>
                            <label for="email">Titulo</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="textarea1" name="text" class="materialize-textarea"><%= post?.text %></textarea>
                            <label for="textarea1">Corpo do Texto</label>
                        </div>
                    </div>
                    <div class="right-align">
                        <button class="btn waves-effect waves-light" type="submit" name="action">
                            <% if(post?.id) { %>
                                Editar
                            <% } else { %>
                                Criar
                            <% } %>
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </form>
            </div>
        </main>
        <script>
            M.textareaAutoResize($('#textarea1'));
        </script>
        
        <%- include('shared/footer'); %>
    </body>

</html>