<!DOCTYPE html>
<html lang="pt_br">
    <head>
        <%- include('shared/head'); %>
    </head>
<body>
    <%- include('shared/nav-bar', { user }); %>
    
    <div class="container">
        <div class="col m10 offset-m1 post-card">
            <h3><%= post.title %></h3>
            <pre><%= post.text %></pre>
            <p class="right-align"> Postado em: <%= post.created_at.toLocaleDateString() %></p>
        </div>
    </div>
    
    <%- include('shared/footer'); %>
</body>

</html>